/* =======================================
Dunning 
======================================= */

/* Changing font color for Dunning because the red conflicts */
a {color:#6e978f;}

/* Masthead */
.compressedMasthead {
	
	height: 50px;
	
	margin: 10px; 
	background-color: white; 
	padding: 10px; 
	float: left; 
	border-radius: 6px
	
}

.sidebysideEditionHeader {
    background-color:#424e4d;
    color:#fff;
    overflow:auto;
    margin: -10px -10px 0 -10px;
    padding: 10px 10px 10px 10px;
}

.sidebysideEditionHeader h1 {
    font-size: 1.6em;
    line-height: 1.2em;
    padding:0;
    margin:5px 0  0 5px;
}

.sidebysideEditionHeader .author {
    float:right;
    font-size:1.2em;
}

.comparison_choice_container {
    background-color: #efefef;
    clear:both;
    margin:0 -5px;
    padding:10px 10px 0 10px;
}

/* Intro adjustments */

ol li, ul li {
    line-height: 1.2em;
}

ul li {
    
}

ul {
    list-style-type: circle;
}

tei_l poem_line


/*light highlight: #d9e3e2;
darker highlight: #424d4c;*/

.tei_attr_hand {
    background-color:#d9e3e2;
}

/*.tei_hand_attr_B{background-color:red; display:none;}
.tei_hand_attr_thin{background-color:blue;}*/


.frontmatter h1 {
    font-size: 1.8em;
}

.frontmatter .byline {
    font-size: 1.2em;
}

.intro_dequinqueseptenis-deorationedominica {
    padding: .10px 100px 0px 100px;
}

@font-face {
    font-family: 'andron_scriptor_webregular';
    src: url('../fonts/andron-scriptor-web/andron_scriptor_web.eot');
    src: url('../fonts/andron-scriptor-web/andron_scriptor_web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/andron-scriptor-web/andron_scriptor_web.woff2') format('woff2'),
         url('../fonts/andron-scriptor-web/andron_scriptor_web.woff') format('woff'),
         url('../fonts/andron-scriptor-web/andron_scriptor_web.ttf') format('truetype'),
         url('../fonts/andron-scriptor-web/andron_scriptor_web.svg#andron_scriptor_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quiviraregular';
    src: url('../fonts/quivera/quivira.eot');
    src: url('../fonts/quivera/quivira.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quivera/quivira.woff2') format('woff2'),
         url('../fonts/quivera/quivira.woff') format('woff'),
         url('../fonts/quivera/quivira.ttf') format('truetype'),
         url('../fonts/quivera/quivira.svg#quiviraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =======================================
reset fonts and spacing for dunning edition 
======================================= */
.dunning, .dunning h3 {
	font-family: andron_scriptor_webregular, quiviraregular;
	text-transform: none;
	font-size: 1.2em;
	line-height: 1.3em;
}

.dunning h1,
.dunning h2,
.dunning h3,
.dunning h4,
.dunning h5,
.dunning h6 {
    margin-top: .5em !important;
}

.dunning .bibliography p {
    text-indent:-2em;
    margin:0 0 0 2em;
    padding:0;
}

/* =======================================
page images
======================================= */


.dunning .pagebreak {
	border: 1px solid #aaa;
	margin: 0 0 10px 10px;
	float: right;
	clear: both;
	padding:3px;
}

.view_fullsize {
	font-size: .8em
}


/* =======================================
TEI Attributes and Elements
======================================= */

.tei_attr_enlarged {
	font-size: 1.4em;
}

.highlight, .tei_attr_highlight {
	background-color: #A3E0D5;
}

.tei_attr_red {
	color: red;
}

.tei_attr_blue {
	color: blue
}

.tei_attr_strike {
	text-decoration: line-through;
}

.tei_attr_expunct {
    text-decoration: none;
    position: relative;
}
.tei_attr_expunct:after {
    content: ' ';
    font-size: inherit;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 40%;
    bottom: 40%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.tei_attr_strikethrough {
	text-decoration: line-through;
}

.tei_del {
	text-decoration: line-through;
}

.dunning .tei_seg_side {
	background-color: #e0efed;
}

.dunning_c .tei_seg_side, .dunning_d .tei_seg_side {
    background-color: transparent;
}

/* Double strikethrough: http://stackoverflow.com/questions/6395890/how-to-double-strikeout-a-text-in-html */
.tei_attr_erased {
    text-decoration: none;
    position: relative;
}
.tei_attr_erased:after {
    content: ' ';
    font-size: inherit;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 40%;
    bottom: 40%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* .tei_attr_alt
.tei_attr_hyphen
.tei_attr_expunct
.tei_attr_overstrike
.tei_attr_above
.tei_attr_spaced
.tei_attr_longa
.tei_attr_inline
.tei_hi
.tei_abbr
.tei_num
.tei_pc
.tei_am
.tei_add
.tei_expan
.tei_ex
.tei_seg /*

/* =======================================
Other TEI Styling
======================================= */

.tei_pb_label, 
.tei_lb,
.tei_cb_label {
	display: inline-block;
	width: 50px;
	margin-left: -50px;
	color:black;
}



/* ======================================= 
Diplomatic vs regularized
======================================= */

.dunning .regularized del {
    display: none;
}

.dunning .diplomatic .tei_supplied_bracket,
.dunning .diplomatic .tei_surplus_bracket{
    display:none;
}

.dunning .diplomatic .tei_attr_stroke {
	
}

.dunning .diplomatic .tei_attr_supraline {
	text-decoration: overline
}

.dunning .diplomatic {
}

.dunning .regularized {
}

.dunning .regularized .tei_abbr {
}

.dunning .regularized .tei_am {
	display: none;
}

.dunning .regularized .tei_del {
	display: none;
}

.dunning .regularized .tei_surplus {
	/*display: none;*/
}

.dunning .regularized .tei_attr_hyphen {
	/*display: none;*/
}

.dunning .regularized .quote {
	quotes: "“" "”" "‘" "’";
}

.dunning .regularized .quote:before {
	content: open-quote;
}

.dunning .regularized .quote:after {
	content: close-quote;
}

.dunning .diplomatic .tei_ex {
	display: none;
}

.br_diplomatic {
	display: block;
}

.br_regularized {
	display: none;
}


/* =======================================
Intro display
======================================= */

.dunning img.intro_image {
	max-width: 100%;
}

.dunning .intro_figure {
	border: solid 2px #aaa;
	padding: 10px;
	margin: 10px;
}

.dunning .intro_figure p {
	margin-top: 10px;
	text-align: center;
	font-weight: 900;
}


/* =======================================
Navigation/option display
======================================= */

.controls_dunning {
    padding: 5px;
    font-size: .8em;
    border: solid 1px #6e978f;
    line-height: 1.2em;
    background-color:#efefef;
}

.orig_trans_toggle {
}

.original_container {
	width: 50%;
	float: left;
}

.translation_container {
	width: 50%;
	float: right;
}

.reg_dip_toggle {
}

.diplomatic_toggle_container {
	width: 50%;
	float: left;
}

.regularized_toggle_container {
	width: 50%;
	float: left;
}

.toggle, .button {
	background-color: #d9e3e2;
	color: #424d4c;
	border: 1px solid #424d4c;
}

.toggle {
	display: block;
	padding: 3px 5px;
	font-size: 1.2em;
	text-align: center;
}

.button, .controls {
	text-align: center;
	padding: 1px 4px;
	font-size: 1.1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: .5em;
	
}

.toggleright {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.toggleleft {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.toggle:hover, .button:hover {
	background: #424d4c;
	color: #fff;
}

.selected {
	background-color: #6e978f;
    color: #fff;
}

.options_container {
	clear: both;
}

.options {
	display: inline-block;
}

.reg_dip_toggle {
	padding: .5em 0;
}

h4.options {
	margin-right: .5em;
}

/* Side by Side View */

.comparison_choice_container {
	
}

.comparison_choice {
	white-space: nowrap;
	display: inline-block;
	margin: 0 .5em .5em 0;
	border: solid #aaa 1px;
	padding: 0em .3em;
	background-color: #d9e3e2;
	color: #424d4c;
	border: 1px solid #424d4c;
	
}

.comparison_choice:hover {
	background-color: #424d4c;
	color: #fff;
}

.side_by_side {
	font-size: 1em;
}

.side_by_side .main_content {
	margin-left: 50px;
}


/* =======================================
OTHER STYLESHEET OVERWRITES 
======================================= */

/* =======================================
Poetry
======================================= */

.dunning div.poem {
	margin: 0;
	font-size: 1em;
}
.deorationedominica span.poem_line, 
.dequinqueseptenis span.poem_line, 
.side_by_side span.poem_line {
	font-size: 1.4em;
	padding: 0px;
	padding: .5em 0 0em 0;
	display: inline-block;
}

.dunning div.note, .dunning div.poem {
	margin: 0;
	padding: 0;
	display: inline;
}

q { quotes: "“" "”" "‘" "’"; }

/* =======================================
Other HTML
======================================= */

.dunning p, .dunning div.p {
	margin: 0px;
	text-indent: 0em;
}

.dunning h1, .dunning h2, .dunning h3, .dunning h4, .dunning h5, .dunning h6 {
	font-family: andron_scriptor_webregular, quiviraregular;
	text-align: left;
	position: static;
}

.dunning h3 {
	font-weight: 100;
	padding-top: 0px;
	z-index: 1;
	margin-top:0;
}

ul.li {
    list-style-type: disc;
}

ol.li {
    list-style-type: decimal;
}

ol {list-style-type: decimal;}


.intro_dequinqueseptenis-deorationedominica p {
    text-indent: 1.5em;
}


div.notesList div.note {
  text-indent: -1em;
padding-left: 1em;
display:block;
} 


#highlight_quotes_link, #line_breaks_link, #handwritten_text_link {
	font-weight:800;
	font-size:1.3em;
	padding: .2em .2em .2em .2em;
	margin: 0 .4em 0 0;
}

#highlight_quotes_note, #line_breaks_note, #handwritten_text_note {

	position:absolute;
	background-color:#fff;
	border:solid 2px #aaa;
	padding: .5em;
}

#highlight_quotes_link a, #line_breaks_link a, #handwritten_text_link a {

	padding: .3em;
	font-size: 1.2em;
}

#line_breaks_note {
	margin-left: 90px;

}

#handwritten_text_note {
	margin-left:300px
}


.tei_pb_label {
	font-weight:800 ;
	
}

.thumbnail {
    display: inline-block; padding-top:.5em;}

.pagebreak {max-width:100px; text-align:center; }

.pageimage .thumbnail {}

.folio_reference {font-size:.8em; line-height: 1.2em; padding-bottom: .5em; display: inline-block}

/*div.appEntry {
	padding: 10px;
	text-align: left;
	font-size: 14px;
	margin: 10px 0;	
}*/
span.appRdg,
span.rdgNote {background:transparent;}

.closenote {float:right; position:relative;}

.appEntry {overflow:visible;}









