.align_right {
    float: right;
}

.align_center {
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    padding: 10px;
}

.cast_role {
    font-weight: bold;
}

.stage_dir {
    float: right;
}

.lineindent {
    text-indent: 35px;
}

/*div.byline {
    margin: auto;
    border: none;
    float: right;
    padding: 10px;
}*/