.align_right {
    float: right;
}

.align_center {
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    padding: 10px;
}

.cast_role {
    font-weight: bold;
}

.blockquote{
    display: inline-block;
}

.stage_dir {
    float: right;
}