.align_right {
    float: right;
}

.align_center {
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    padding: 10px;
}

.tei_titlePart {
    text-align: center;
}

.printer {
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    font-size: .85em;
    padding: 10px;
}

.WellsNote {
    font-size: .85em;
}

.WellsNote_list {
    display: block;
    font-size: .85em;
    margin-left: -40px;
    text-indent: 0px;
}

span.pagebreak_list{
    display: block;
    margin: 1em 0 0 -3em;
    font-size: 10pt;
    border-top: 1px dashed #aaa;
    height: 50px;
    padding: 15px;
    width: 105.5%;
    text-align: left;
}

span.pagebreak_list span.tei_thumbnail{
    float: right;
    padding-left: 10px;
    text-indent: 0px;
    clear: both;
    margin: 10px 0 0 10px;
}

span.pagebreak_list a{
    float: right;
    clear: right;
    padding-left: 10px;
    line-height: 1.5em;
    margin: -0px 0 0 10px;
}

span.pagebreak_list_misc{
    display: block;
    margin: 1em 0 0 -6em;
    font-size: 10pt;
    border-top: 1px dashed #aaa;
    height: 50px;
    padding: 15px;
    width: 112%;
    text-align: left;
}

span.pagebreak_list_misc span.tei_thumbnail{
    float: right;
    padding-left: 10px;
    text-indent: 0px;
    clear: both;
    margin: 10px 0 0 10px;
}

span.pagebreak_list_misc a{
    float: right;
    clear: right;
    padding-left: 20px;
    line-height: 1.5em;
    margin: -0px 0 0 10px;
}

span.pagebreak_doubleList{
    display: block;
    margin: 1em 0 0 -9em;
    font-size: 10pt;
    border-top: 1px dashed #aaa;
    height: 50px;
    padding: 15px;
    width: 119%;
    text-align: left;
}

span.pagebreak_doubleList span.tei_thumbnail{
    float: right;
    padding-left: 10px;
    text-indent: 0px;
    clear: both;
    margin: 10px 0 0 10px;
}

span.pagebreak_doubleList a{
    float: right;
    clear: right;
    padding-left: 10px;
    line-height: 1.5em;
    margin: -0px 0 0 10px;
}

.page_number {
    text-align: center;
    /*color: blue;*/
}

.page_number_list {
    text-align: center;
    text-indent: -30px;
    display: block;
    /*color: red;*/
}

.page_number_doubleList {
    text-align: center;
    text-indent: -100px;
    display: block;
    /*color: green;*/
}

.page_number_list_misc {
    text-align: center;
    text-indent: -70px;
    display: block;
    /*color: purple;*/
}

.in_note {
    padding-left: 3em;
}

span.last_line{
    margin: 0;
    display: block;
    line-height: 1.25em;
}

 
.head_note {
     font-size: 14pt;
     font-weight:normal;
     vertical-align: super;
}

ul.list {
    list-style-type:none;
    text-indent: -30px;
}

ul.paragraph_list {
    list-style-type:none;
    
}

ul.hanging_list {
    list-style-type:none;
    text-indent: -30px;
}

td.indent {
    text-indent: 50px;
}

td.right {
    text-align: right;
}

.figure_list {
    margin-left: -40px;
}

.caption_list {
    margin-left: -40px;
}

.figure_list_p {
    margin-left: -80px;
}

.head_list {
    margin-left: -10px;
}

.fw_list {
    margin-left: -120px;
}

h4.sub_head {
    margin-left: 0px;
}

h4.sub_head_list {
    margin-left: 0px;
}

h3.appendix {
    color: #A93226;
}

/* To add borders on sides */
/*.row > div {
    border: 1px solid green;
}*/

img.normal {
	max-width: 100%;
}

img.list {
    max-width: 120%;
}

/* Fix for page_number indentation */

.page_number {
	text-indent: 0;
}

span.page_number {
	display: block;
}

.tei_body p {
    text-indent:2em;
    text-align:left;
}